<!DOCTYPE html>
<html lang="en">
<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   
   <!-- site metas -->
   <title>Misión</title>
   <!-- bootstrap css -->
   <link rel="stylesheet" href="/src/assets/css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" href="/src/assets/css/style.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   <style>
    /* Estilo para agregar un fondo blanco a la imagen */
    .logo-bg {
      filter: drop-shadow(
        0 0 10px rgba(255, 255, 255, 0.8)
      ); /* Fondo blanco con 50% de transparencia */
      padding: 10px; /* Espacio alrededor de la imagen */
      border-radius: 5px; /* Bordes redondeados opcional */
      display: inline-block;
      max-width: 100%; /* Asegura que la imagen no desborde en pantallas pequeñas */
    }
    .banner_section {
        height: 100%; /* Asegura que el banner ocupe el 100% del alto de la ventana */
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center; /* Centra el contenido verticalmente */
        justify-content: center; /* Centra el contenido horizontalmente */
      }
      .header_section1 {
        margin: 0;
        padding: 0;
      }
      
      

    /* Ajustes para dispositivos móviles */
    @media (max-width: 768px) {
      .navbar-nav {
        text-align: center;
      }

      .banner_section {
        text-align: center;
      }

      .banner_taital {
        font-size: 2rem; /* Ajusta el tamaño del texto en pantallas pequeñas */
      }

      .banner_text {
        font-size: 1rem;
        margin-top: 10px;
      }

      .image_1 img {
        max-width: 100%; /* Asegura que la imagen no desborde en pantallas pequeñas */
        height: auto;
      }
    }
  </style>
</head>
<div class="header_section1">
    <%- include('./components/navbar.ejs') %>
      <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
           <div class="carousel-item active">
              <div class="banner_section">
                 <div class="container">
                    <div class="row">
                       <div class="col-md-6">
                          <h1 class="banner_taital"> Nuestra Mision  <br><span style="color: #fafafa"></h1>
                          <p class="banner_text" style="text-align: justify;">RG Servicios Generales, nos dedicamos a proporcionar soluciones eléctricas integrales y eficientes que mejoren la calidad de vida de nuestros clientes. Nos comprometemos a ofrecer servicios de corte, reconexión, lectura de medidores, atención de averías y emergencias con un enfoque centrado en la seguridad, la calidad y la satisfacción del cliente. Nuestro propósito es ser líderes en el sector eléctrico, impulsando la innovación y la sostenibilidad, para contribuir al desarrollo de comunidades más seguras y energéticamente eficientes..</p>
                       </div>
                       <div class="col-md-6">
                          <div class="image_4"><img src="/src/assets/img/MisionImagen.png"></div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
           <!-- Bootstrap JS -->
           <script src="/src/assets/js/bootstrap.min.js"></script>
           <!-- FancyBox JS -->
           <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      </body>
</html>
