<div class="container-fluid">
    <ul class="full-box list-unstyled page-nav-tabs">
        <li>
            <a class="<%= ruta === '/permisos' ? 'active' : '' %>" href="/permisos"><i class="fas fa-plus fa-fw"></i> &nbsp; NUEVO PERMISO</a>
        </li>
        <li>
            <a  class="<%= ruta === '/permisoslista' ? 'active' : '' %>" href="/permisoslista"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA DE PERMISOS</a>
        </li>
    </ul>	
</div>