<div class="container-fluid">
    <ul class="full-box list-unstyled page-nav-tabs">
      <li>
        <a class="<%= ruta === '/usuarios' ? 'active' : '' %>" href="/usuarios"
          ><i class="fas fa-plus fa-fw"></i> &nbsp; NUEVO USUARIO</a
        >
      </li>
      <li>
        <a class="<%= ruta === '/usuariolista' ? 'active' : '' %>" href="/usuariolista"
          ><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA DE
          USUARIOS</a
        >
      </li>
    </ul>
  </div>