<div class="container-fluid">
    <ul class="full-box list-unstyled page-nav-tabs">
        <li>
            <a class="<%= ruta === '/perfiles' ? 'active' : '' %>" href="/perfiles"><i class="fas fa-plus fa-fw"></i> &nbsp; NUEVO PERFIL</a>
        </li>
        <li>
            <a class="<%= ruta === '/perfilista' ? 'active' : '' %>" href="/perfilista"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA DE USUARIOS</a>
        </li>
    </ul>	
</div>