<section class="full-box page-content">
    <%- include('aside.ejs') %>

    <!-- Page header -->
    <div class="full-box page-header">
        <h3 class="text-left">
            <i class="fab fa-dashcube fa-fw"></i> &nbsp; Bienvenida <%- nombre %> 
        </h3>
        
    </div>
    
    <!-- Content -->
    <div class="full-box tile-container">

        <a href="/usuarios" class="tile">
            <div class="tile-tittle">Usuario</div>
            <div class="tile-icon">
                <i class="fas fa-users fa-fw"></i>
                
            </div>
        </a>

        <a href="/perfiles" class="tile">
            <div class="tile-tittle">Perfiles</div>
            <div class="tile-icon">
            <i class="fas fa-user-circle fa-fw"></i>
            
            </div>
        </a>

        <a href="/permisos" class="tile">
            <div class="tile-tittle">Permisos</div>
            <div class="tile-icon">
            <i class="fas fa-key fa-fw"></i>
            
            </div>
        </a>

        <a href="/actividades" class="tile">
            <div class="tile-tittle">Actividades</div>
            <div class="tile-icon">
            <i class="fas fa-tasks fa-fw"></i>
            </div>
        </a>
    </div>
    

</section>